<!DOCTYPE html>
<html lang="es">

<head>
  <title>Registro de compras diarias</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-escale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
</head>

<body>

  <div id="app">
      <div class="container-fluid ">

    <h1 class="text-center">Registro de Gastos Diarios</h1>
    <br>

    <div class="row ">

        <div class="col-12" >
          <table class="table table-sm table-responsive-sm table-secondary table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Concepto</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Categoria</th>
                <th>Lugar</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{gastoNuevo.fecha}}</td>
                <td><input type="text" placeholder="Ingresar" v-model="gastoNuevo.usuario"></td>
                <td><input type="text" placeholder="Ingresar" v-model="gastoNuevo.concepto"></td>
                <td><input type="text" placeholder="Ingresar" v-model="gastoNuevo.unidad"></td>
                <td><input type="number" placeholder="Ingresar" v-model="gastoNuevo.cantidad"></td>
                <td><input type="number" placeholder="Ingresar" v-model="gastoNuevo.precio"></td>
                <td>{{gastoNuevo.cantidad * gastoNuevo.precio}}</td>
                <td><input type="text" placeholder="Ingresar" v-model="gastoNuevo.categoria"></td>
                <td><input type="text" placeholder="Ingresar" v-model="gastoNuevo.lugar"></td>
                <td> <button @click="insertarGasto">Insertar Gasto</button></td>
              </tr>
              <tr v-for="gasto in gastos">
                <td>{{gasto.fecha}}</td>
                <td>{{gasto.usuario}}</td>
                <td>{{gasto.concepto}}</td>
                <td>{{gasto.unidad}}</td>
                <td>{{gasto.cantidad}}</td>
                <td>{{gasto.precio}}</td>
                <td>{{gasto.total}}</td>
                <td>{{gasto.categoria}}</td>
                <td>{{gasto.lugar}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


  <!--Vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!--Ajax-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <!--Bootstrap-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!--Funcionalidad-->
  <script src="assets/js/funcionalidad.js"></script>
